<!DOCTYPE html>
<html>
<head>
  <title>Dcaport</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div ALIGN="middle", style="width:fill_parent;height:70px; background-color:black;border:1px solid #000;">
	<%= link_to (image_tag "dcalogo.png"), "." %>
</div>
	<!--<a href="root"><%= image_tag "dcalogo.png" %></a> -->
	<div style="width:fill_parent; height:15px; background-color:red;"> </div>
<%= yield %>

</body>
</html>
